<p id="notice"><%= notice %></p>
<div>
	<textarea cols="100" rows="40">
		<%= CGI.unescape(@apex_class.Body) %>
	</textarea>
</div>

<%= link_to 'Edit', edit_apex_class_path(@apex_class) %> |
<%= link_to 'Back', apex_classes_path %>
